.gradient{
    background: rgb(0,1,101);
    background: radial-gradient(circle, rgba(0,1,101,1) 0%, rgba(0,1,101,1) 100%);
padding-top: 15px;
padding-bottom: 15px;
border-bottom: 2px solid black;
border-left: 2px solid black;
border-right: 2px solid black;
color: white;

}

.gradient-button{
    background: rgb(0,104,224);
    background: radial-gradient(circle, rgba(0,104,224,1) 0%, rgba(126,192,255,1) 100%);
    border: 1px solid black;
    border-radius: 5px;
}